* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D5E1EF;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 115px;
}

.qr--container {
    width: 320px;
    height: 497px;
    background-color: white;
    padding: 15px;
    border-radius: 20px;
}

.qr--picture {
    border-radius: 10px;
    cursor: pointer;
    width: 288px;
    height: 288px;
}

.qr--title {
    color: dark;
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    font-size: 22px;
    height: 56px;
    margin-top: 20px;
}

.qr--text {
    color: grey;
    font-family: "Outfit", sans-serif;
    font-weight: 100;
    font-size: 15px;
    margin-top: 15px;
}

.attribution {
    text-align: center;
    margin: 20px;
}

@media screen and (max-width: 767.98px) {
    
}